
# Environment and secrets
.env
*.env
secrets/*
/secrets

# IDE or OS metadata
.vscode/
.DS_Store

/.conda
/snap_table
cached_sheets.json
.env
*/constants.js
*/node_modules
cached_sheets_v1.json
arrived_pivot.csv
df.csv
top_3000_most_freq_wiki.csv
/outputs
/data
*.egg-info/
build/
dist/

# Python bytecode
__pycache__/
*.pyc